html {
	margin: 3%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: x-large;
	color: #333;
}
h1 {
	color: #888;
}
h2 {
	color: #666;
}
h3 {
	color: #444;
}
h4 {
	color: #222;
}
#kalx {
	font-family: "Courier";
	font-weight: bold;
	opacity: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
	color: blue;
}
