body { font-size: 120%; }
h1 { color: #0F0F0F; }
h2 { color: #4F4F4F; }
h3 { color: #8F8F8F; padding-left: 10px; }
#pat {
    border-style: solid;
}
#kalx {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}
