html {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Zilla Slab', serif;
	font-size: large;
	background: #F0F0F0;
	background: linear-gradient(to right, #FFF, #F0F0F0);
	color: #565656;
}
h1 {
	color: #062F4F;
}
h2 {
	color: #264F6F;
}
h3 {
	color: #444;
}
h4 {
	color: #222;
}
.katex {
	font-size: 100% !important;
	macros: {
	    "\\RR": "\\mathbb{R}"
	  }
}
#kalx {
    font-family: "Courier";
    font-weight: bold;
    opacity: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: blue;
}
